{% extends "base.html.twig" %}
{% block body %}
      <div class="container">
                <div class="row row-space shadow bg">
                    <div class="col-lg-12 logo-type">
                       {% for message in app.flashes('success') %}
                            <div class="alert alert-success alert-dismissible fade show shadow" role="alert" style="position:absolute; width:40%; z-index:2; right:15px; top:20px; border-radius:0;">
                                    <strong><i class="far fa-check-circle"></i></strong> {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                       {% endfor %}
                        <img src="images/logo.svg">
                    </div>
                    <div class="col-lg-12">
                    <section class="nav-bar">
                       <ul class="second-nav">
                           <li data-toggle="tooltip" data-placement="top" title="Logs"><i class="far fa-bell"></i></li>
                           <li data-toggle="tooltip" data-placement="top" title="Faq"><i class="far fa-question-circle"></i></li>
                           <li data-toggle="tooltip" data-placement="top" title="Wyloguj"><a href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i></a></li>
                       </ul> 
                         <p class="text-right">Jesteś zalogowany jako <b>{{ user.username }}</b><p>
                    </section>
                    </div>
                    <div class="col-lg-12" id="content-sort">
                            <div class="row border-content">
                                <section class="upload-content upload-content__bg_color  border-content-right">
                                    <div class="upload-content-title">WYBIERZ PLIKI DO PRZESŁANIA</div>
           
                                </section>
                                
                                <section class="file-list file-list__border file-list__bg_color">
                                    <div class="file-list-title">LISTA PLIKÓW</div>
                                        <ul class="file-list sort" id="sort">
                                                <li id="list" class="_active" data-toggle="tooltip" data-placement="top" title="Lista"><i class="fas fa-list"></i></li>
                                                <li id="block" data-toggle="tooltip" data-placement="top" title="Bloki"><i class="fas fa-th"></i></li>
                                        </ul>
                                </section>             
                                <section class="upload-content border-content-right">
                                 <div class="upload-content-upload-btn" id="files-content">  
                                    <h6 class="d-flex justify-content-between align-items-center mb-3">
                                              <span class="text-muted">WYBRANYCH PLIKÓW</span>
                                              <span class="badge badge-secondary badge-pill" id="count-file">7</span>
                                            </h6>
                                            <ul class="list-group mb-3" id="file-area">
                                        
                                            
                                            </ul>
                                    </div>   
                                    <div class="upload-content-upload-btn">  
                                        {% form_theme files _self %}
                                    {% block form_errors %}
                                
                                        {% spaceless %}
                                            {% if errors is defined and errors|length > 0 %}
                                          
                                              <div class="alert alert-danger shadow" role="alert" style="border-radius:0;">
                                                {% for error in errors %}
                                                    <i class="far fa-times-circle"></i> {{ error.message }}
                                                {% endfor %}
                                              </div>
                                            {% endif %}
                                        {% endspaceless %}
                                    {% endblock form_errors %}
                                     {{form_start(files)}}
                                     {{ form_errors(files)}}
                                       <label for="upload_attachment" class="required">                                    
                                            <div class="icon-update"></div>
                                            <p class="text-center">Kliknij aby wybrać pliki do przesłania</p>
                                            <p class="text-center info">Wciśnij {CTRL] Aby Wybrać pojednyńcze pliki</p>
                                            <p class="text-center info">Wciśnij [SHIFT] Aby Wybrać wszystkie pliki</p>
                                               {{form_widget(files.attachment)}}                                     
                                       </label>
                                                {{ form_widget(files.send)}}
                                     {{form_end(files)}}
                                   
                                    </div>                    
                                        <div class="update-info"><b>DOPUSZCZALNE TYPY PRZESYŁANYCH PLIKÓW:<br> </b>
                                            <b>TYPY GRAFICZNE</b> <i>[JPG, JPEG, PNG, GIF],</i>
                                            <b>TYPY ARCHIWALNE</b> <i>[RAR, ZIP],</i>
                                            <b>TYPY TEKSTOWE</b> <i>[DOCX, PDF, TXT]</i>
                                        </div>
                                 </section>                       
                                <section class="file-list file-list__padding oveflow">               
                                {% if userFilesInDirectory is defined %}
                                    {% for file in userFilesInDirectory %}
                                        {% if file.extension == "zip" or file.extension == "rar"  %}
                                                <div class="icon shadow-sm p-2 mb-2 bg-white rounded">
                                                    <img src="images/zip.png">
                                                    <span class="icon-name">{{ file.filename|slice(0,10)~ '...' }} </span>
                                                </div>
                                        {% endif %}
                                        {% if file.extension == "pdf" %}
                                                <div class="icon shadow-sm p-2 mb-2 bg-white rounded">
                                                    <img src="images/pdf.png">
                                                    <span class="icon-name">{{ file.filename|slice(0,10)~ '...' }} </span>
                                                </div>
                                        {% endif %}
                                        {% if file.extension == "txt" %}
                                                <div class="icon shadow-sm p-2 mb-2 bg-white rounded">
                                                    <img src="images/txt.png">
                                                    <span class="icon-name">{{ file.filename|slice(0,10)~ '...' }} </span>
                                                </div>
                                        {% endif %}
                                        {% if file.extension == "doc" or file.extension == "docx" %}
                                                <div class="icon shadow-sm p-2 mb-2 bg-white rounded">
                                                    <img src="images/doc.png">
                                                    <span class="icon-name">{{ file.filename|slice(0,10)~ '...' }} </span>
                                                </div>
                                        {% endif %}
                                        {% if file.extension == "jpg" %}
                                                <div class="icon shadow-sm p-2 mb-2 bg-white rounded">
                                                    <img src="images/jpg.png" style="position:relative;">
                                                       <span class="icon-name">{{ file.filename|slice(0,10)~ '...' }} </span>
                                                </div>
                                            {% endif %}
                                        {% if file.extension == "png" %}
                                                <div class="icon shadow-sm p-2 mb-2 bg-white rounded">
                                                    <img src="images/png.png">
                                                    <span class="icon-name">{{ file.filename|slice(0,10)~ '...' }} </span>
                                                </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %} 
                                    {% if userFilesInDirectory is empty %}  
                                    <p class="empty">BRAK PLIKÓW W KATALOGU</p>
                                    {% endif %}
                                </section>
                            </div>                
                        </div>
                     <footer>Files Transfer Service &copy; 2018 <a href="http://iten.com.pl/">IT Enginnering</a></footer>
                </div>
    </div>
{% endblock %}