{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}

{% extends "base.html.twig" %}


{% block body %}
    <div class="login">
    <div class="container">
        <div class="row shadow">
            <div class="col">
                <img src="images/logo.svg" class="brand-logo">
              <form action="{{ path('login') }}" method="post">
                    <div class="form">
                        {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                         </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="username">Klient:</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />      
                        </div>
                        <div class="form-group">
                            <label for="password">Hasło:</label>
                            <input type="password" id="password" name="_password" class="form-control" />                
                        </div>
                        <div class="login-button">
                               <button type="submit" class="btn btn-default">login</button>
                        </div>
                    </div>
              <form>
            </div>
        </div>
    </div>
</div>    

 {% endblock %} 