@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
body {
  background: linear-gradient(#1676ad, #ffffff);
  min-height: 100%;
}
.login {
  font-family: 'Lato', sans-serif;
  margin: 12.4% auto;
  width: 400px;
  background: #fff;
}
.login label {
  font-weight: 400;
  font-size: 15px;
}
.login .shadow {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
  padding: 0px;
}
.login .brand-logo {
  margin: 10% auto 0;
  width: 80%;
  display: block;
}
.login .form {
  padding: 20px 30px 60px;
  width: 100%;
}
.login .form-control {
  box-shadow: none;
  outline: 0;
  border-radius: 0;
  color: #565656;
  font-size: 14px;
  padding: 15px 10px;
  margin-bottom: 30px;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
}
.login .btn {
  background: #005587;
  border: none;
  border-radius: 0;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  text-transform: uppercase;
  width: 100%;
}
.login .btn:hover {
  background: #033e60;
  color: #fff;
}
.tooltips {
  display: block;
  position: absolute;
  border: 1px solid #999999;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 8px 8px 3px;
  margin-top: -20px;
  font-size: 14px;
  z-index: 1;
  background: #fff;
  color: #000;
  width: 200px;
  text-align: center;
}
.tooltips i {
  padding-right: 5px;
}
.tooltips:before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #999999;
}
.tooltips:after {
  content: '';
  display: block;
  position: absolute;
  left: 16px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: white;
}
.row-space {
  margin: 7% auto;
}
.btn-upload {
  display: inline;
  text-align: center;
}
.logo-type img {
  display: block;
  margin: 0 auto;
  max-width: 36%;
  padding: 40px 0;
}
.logo-type p {
  font-size: 1em;
  padding-bottom: 40px;
  margin-top: 0;
}
.bg {
  background: #fff;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 13px 13px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.content-file-list {
  min-height: 400px;
  overflow: hidden;
}
section.file-list {
  width: 60%;
  margin: 0;
}
section.file-list__border {
  border-bottom: 1px solid #e8ebef;
}
section.file-list__padding {
  padding: 15px 0 0 15px;
}
section.file-list__bg_color {
  background-color: #005587;
}
section.file-list .file-list-title {
  display: inline-block;
  width: auto;
  color: #fff;
  margin: 0;
  padding: 15px;
}
section.file-list ul {
  padding: 15px;
  display: inline-block;
  margin: 0;
}
section.file-list ul.sort li {
  font-size: 18px;
  border: 0;
}
section.file-list ul.sort li i {
  padding: 0;
  color: #fff;
  margin: 0;
}
section.file-list ul.sort li:hover,
section.file-list ul.sort li:focus {
  color: #fff;
  background-color: #1676ad;
  outline: none;
}
section.upload-content {
  width: 40%;
  color: #fff;
  margin: 0;
  padding: 0;
}
section.upload-content__bg_color {
  background-color: #005587;
}
section.upload-content .upload-content-title {
  width: auto;
  color: #fff;
  margin: 0;
  padding: 15px;
}
section.upload-content .upload-content-upload-btn {
  color: #1676ad;
  padding: 50px;
  width: 100%;
}
section.upload-content .upload-content-upload-btn .icon-update {
  background: url("../images/upload.png");
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  line-height: 200px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}
section.upload-content .update-info {
  text-align: center;
  display: block;
  font-size: 11px;
  color: #999;
  padding: 15px;
}
section .icon {
  width: 100%;
  transition: 3s;
  padding: 0;
  margin: 0;
  padding: 3px;
  display: inline-block;
}
section .icon i {
  color: #333;
  margin: 0 auto;
  padding: 0;
  font-size: 2.6em;
  height: auto;
}
section .icon i span {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 0.35em;
  margin-top: -5px;
  vertical-align: middle;
  line-height: 3em;
  font-weight: normal;
}
.border-content {
  border: 1px solid #e8ebef;
}
.border-content-right {
  border-right: 1px solid #e8ebef;
}
.btn {
  background: #005587;
  border: none;
  border-radius: 0;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  padding: 17px 30px 15px;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline;
}
.btn i {
  font-size: 2.4em;
  vertical-align: middle;
  margin-right: 7px;
  margin-bottom: 5px;
}
.btn:nth-child(1) {
  border-right: 1px solid #ffffff;
}
.btn:nth-child(2) {
  border-right: 1px solid #ffffff;
}
.btn:hover {
  background: #033e60;
  color: #fff;
}
footer {
  color: #005587;
  text-align: center;
  padding: 25px 0;
  width: 100%;
}
.btn-element {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #666666;
  font-size: 12px;
  font-weight: 600;
  padding: 7px;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline;
  cursor: pointer;
  outline: none;
}
.btn-element:hover,
.btn-element:focus {
  color: #fff;
  background-color: #005587;
  outline: none;
}
.content-nav {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0;
  line-height: 42px;
  position: relative;
}
.content-nav p {
  font-size: 16px;
  line-height: 0.6em;
}
.content-nav--border-top {
  border-top: 1px solid #e8ebef;
}
.content-nav .custom-file-input {
  border-radius: 0;
}
.content-nav .custom-file {
  margin-bottom: 25px;
}
.content-nav .custom-file input {
  display: none;
}
.content-nav .custom-file label {
  display: block;
  border: 1px solid #e8ebef;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  height: 50px;
}
.content-nav .custom-file label:hover,
.content-nav .custom-file label:focus {
  border: 1px solid #999;
}
.content-nav .custom-file button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #005587;
  border-style: none;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  line-height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.content-nav .custom-file button:hover,
.content-nav .custom-file button:focus {
  background-color: #033e60;
}
.content-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 0;
}
.content-nav ul.upload {
  display: inline-block;
}
.content-nav ul li {
  letter-spacing: normal;
  display: inline-block;
  padding: 7px;
  border-right: 1px solid #f8f8f8f8;
  font-size: 28px;
  color: #999;
  margin: 0;
}
.content-nav ul li i {
  padding: 0;
  margin: 0;
}
.content-nav ul li span {
  font-size: 14px;
  text-transform: none;
}
.oveflow {
  overflow: auto;
  height: 400px;
}
.imitation-btn {
  background: #005587;
  border-radius: 0;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  padding: 17px 30px 15px;
  vertical-align: middle;
  text-align: center;
  display: inline;
  border-right: 1px solid #ffffff;
}
.imitation-btn i {
  font-size: 2.4em;
  vertical-align: middle;
  margin-right: 7px;
  margin-bottom: 5px;
}
