@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
body {
  background: linear-gradient(#1676ad, #ffffff);
  min-height: 100%;
}
.login {
  font-family: 'Lato', sans-serif;
  margin: 12.4% auto;
  width: 400px;
  background: #fff;
}
.login label {
  font-weight: 400;
  font-size: 15px;
}
.login .shadow {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
  padding: 0px;
}
.login .brand-logo {
  margin: 10% auto 0;
  width: 80%;
  display: block;
}
.login .form {
  padding: 20px 30px 60px;
  width: 100%;
}
.login .form-control {
  box-shadow: none;
  outline: 0;
  border-radius: 0;
  color: #565656;
  font-size: 14px;
  padding: 15px 10px;
  margin-bottom: 30px;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
}
.login .btn {
  background: #005587;
  border: none;
  border-radius: 0;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  text-transform: uppercase;
  width: 100%;
}
.login .btn:hover {
  background: #033e60;
  color: #fff;
}
.tooltips {
  display: block;
  position: absolute;
  border: 1px solid #999999;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 8px 8px 3px;
  margin-top: -20px;
  font-size: 14px;
  z-index: 1;
  background: #fff;
  color: #000;
  width: 200px;
  text-align: center;
}
.tooltips i {
  padding-right: 5px;
}
.tooltips:before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #999999;
}
.tooltips:after {
  content: '';
  display: block;
  position: absolute;
  left: 16px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: white;
}
