@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
body {
  background: linear-gradient(#1676ad, #ffffff) no-repeat;
  min-height: 100%;
}
.login {
  font-family: 'Lato', sans-serif;
  margin: 12.4% auto;
  width: 400px;
  background: #fff;
}
.login label {
  font-weight: 400;
  font-size: 15px;
}
.login .shadow {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
  padding: 0px;
}
.login .brand-logo {
  margin: 10% auto 0;
  width: 80%;
  display: block;
}
.login .form {
  padding: 20px 30px 60px;
  width: 100%;
}
.login .form-control {
  box-shadow: none;
  outline: 0;
  border-radius: 0;
  color: #565656;
  font-size: 14px;
  padding: 15px 10px;
  margin-bottom: 30px;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
}
.login .btn {
  background: #005587;
  border: none;
  border-radius: 0;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  text-transform: uppercase;
  width: 100%;
}
.login .btn:hover {
  background: #033e60;
  color: #fff;
}
.tooltips {
  display: block;
  position: absolute;
  border: 1px solid #999999;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 8px 8px 3px;
  margin-top: -20px;
  font-size: 14px;
  z-index: 1;
  background: #fff;
  color: #000;
  width: 200px;
  text-align: center;
}
.tooltips i {
  padding-right: 5px;
}
.tooltips:before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #999999;
}
.tooltips:after {
  content: '';
  display: block;
  position: absolute;
  left: 16px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: white;
}
.row-space {
  margin: 7% auto;
}
.btn-upload {
  display: inline;
  text-align: center;
}
.logo-type img {
  display: block;
  max-width: 32%;
  padding: 40px 0 0 15px;
  margin-bottom: -25px;
}
.logo-type p {
  font-size: 1em;
  padding-bottom: 40px;
  margin-top: 0;
}
section.nav-bar {
  margin-top: 5px;
  line-height: 2em;
}
section.nav-bar > ul {
  display: inline-block;
  line-height: 2em;
}
section.nav-bar > ul.second-nav {
  float: right;
}
section.nav-bar > ul > li {
  color: #005587;
  list-style: none;
  display: inline-block;
  padding: 4px;
}
section.nav-bar > ul > li:hover,
section.nav-bar > ul > li:focus {
  color: #1676ad;
}
section.nav-bar > ul > li a {
  color: #005587;
}
section.nav-bar > ul > li a:hover,
section.nav-bar > ul > li a:focus {
  color: #1676ad;
}
section.nav-bar > ul > li i {
  font-size: 1.6em;
  cursor: pointer;
}
.empty {
  text-align: center;
  margin-top: 20%;
  color: #e8ebef;
  font-size: 2em;
}
.bg {
  background: #fff;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 13px 13px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.content-file-list {
  min-height: 400px;
  overflow: hidden;
}
section.file-list {
  width: 60%;
  margin: 0;
}
section.file-list #downloadCenter button {
  position: absolute;
  left: 0;
}
section.file-list #downloadCenter input[type="checkbox"] {
  display: none!important;
}
section.file-list #downloadCenter input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  width: 1.2em;
  height: 1.2em;
  border: solid #005587 3px;
  background-color: #fff;
  margin-right: 1em;
  margin-top: 0.8em;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 0.1em;
}
section.file-list #downloadCenter input[type="checkbox"] + label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  font-family: 'Open Sans';
  font-weight: 400;
  text-transform: none;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 0.8em;
}
section.file-list #downloadCenter input[type="checkbox"]:checked + label::before {
  background-color: #005587;
}
section.file-list small.space {
  padding-left: 60px;
  margin-top: -10px;
}
section.file-list__padding {
  padding: 15px 15px 0 15px;
}
section.file-list__bg_color {
  background-color: #005587;
}
section.file-list .file-list-title {
  display: inline-block;
  width: auto;
  color: #fff;
  margin-top: 7px;
  padding: 15px;
}
section.file-list .upload-bar {
  position: absolute;
  z-index: 5;
}
section.file-list ul.sort {
  padding: 15px;
  display: inline-block;
  margin: 0;
  float: right;
}
section.file-list ul.sort ._active {
  color: #fff;
  background-color: #1676ad;
}
section.file-list ul.sort li {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 5px;
  cursor: pointer;
}
section.file-list ul.sort li i {
  padding: 0;
  color: #fff;
  margin: 0;
}
section.file-list ul.sort li:hover,
section.file-list ul.sort li:focus {
  color: #fff;
  background-color: #1676ad;
}
section.upload-content {
  width: 40%;
  color: #fff;
  margin: 0;
  padding: 0;
}
section.upload-content__bg_color {
  background-color: #005587;
}
section.upload-content .upload-content-title {
  width: auto;
  color: #fff;
  margin: 0;
  padding: 15px;
  margin-top: 7px;
}
section.upload-content .upload-content-upload-btn {
  color: #1676ad;
  padding: 15px 50px;
  width: 100%;
}
section.upload-content .upload-content-upload-btn form label {
  padding: 40px 8px 0;
  cursor: pointer;
  width: 100%;
  border: 1px transparent dashed;
}
section.upload-content .upload-content-upload-btn form label:hover {
  border: 1px #1676ad dashed;
}
section.upload-content .upload-content-upload-btn form button {
  width: 100%;
  margin: 0 auto;
  line-height: 48px;
  background-color: #005587;
  color: #FFF;
  border: 0;
}
section.upload-content .upload-content-upload-btn form button:hover {
  background-color: #1676ad;
  color: #FFF;
  cursor: pointer;
}
section.upload-content .upload-content-upload-btn form button:hover.disabled {
  background-color: #032b47;
  color: #666666;
  opacity: 0.9;
  cursor: auto;
}
section.upload-content .upload-content-upload-btn form p {
  padding-top: 10px;
}
section.upload-content .upload-content-upload-btn form .info {
  line-height: 0.1;
  color: #999;
  font-size: 10px;
  padding: 0;
}
section.upload-content .upload-content-upload-btn .icon-update {
  background: url("../images/upload.png");
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  line-height: 200px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}
section.upload-content .update-info {
  text-align: center;
  display: block;
  font-size: 11px;
  color: #999;
  padding: 15px;
}
section.upload-content #customer {
  padding: 20px 30px 60px;
  width: 100%;
}
section.upload-content #customer label {
  display: inline;
  color: #333;
}
section.upload-content #customer .form-control {
  box-shadow: none;
  outline: 0;
  border-radius: 0;
  color: #565656;
  font-size: 14px;
  padding: 15px 10px;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  display: inline;
}
section.upload-content #customer .btn {
  width: 100%;
}
section.upload-content #customer #user_roles label {
  padding: 0 10px 0 5px;
}
section .icon {
  width: 100%;
  transition: 3s;
  padding: 0;
  margin: 0;
  padding: 3px;
  height: auto;
  display: inline-block;
}
section .icon img {
  display: inline-block;
  position: relative;
}
section .icon i {
  color: #333;
  margin: 0 auto;
  padding: 0;
  font-size: 2.6em;
  height: auto;
}
section .icon i span {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 0.28em;
  margin-top: -5px;
  vertical-align: middle;
  line-height: 3em;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.border-content {
  border: 1px solid #e8ebef;
}
.border-content-right {
  border-right: 1px solid #e8ebef;
}
.btn {
  background: #005587;
  border: none;
  border-radius: 0;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  padding: 17px 30px 15px;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline;
}
.btn i {
  font-size: 2.4em;
  vertical-align: middle;
  margin-right: 7px;
  margin-bottom: 5px;
}
.btn:nth-child(1) {
  border-right: 1px solid #ffffff;
}
.btn:nth-child(2) {
  border-right: 1px solid #ffffff;
}
.btn:hover {
  background: #033e60;
  color: #fff;
}
footer {
  color: #005587;
  text-align: center;
  padding: 25px 0;
  width: 100%;
}
footer a {
  text-decoration: none;
  color: #005587;
}
footer a:hover {
  text-decoration: none;
  color: #005587;
}
.btn-element {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #666666;
  font-size: 12px;
  font-weight: 600;
  padding: 7px;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline;
  cursor: pointer;
  outline: none;
}
.btn-element:hover,
.btn-element:focus {
  color: #fff;
  background-color: #005587;
  outline: none;
}
.content-nav {
  width: 100%;
  padding-bottom: 40px;
  line-height: 48px;
}
.content-nav ul {
  margin: 0 auto;
  width: 40%;
}
.content-nav ul li {
  padding: 10px;
}
.content-nav ul li i {
  font-size: 40px;
}
.oveflow {
  overflow: auto;
  height: 400px;
}
.imitation-btn {
  background: #005587;
  border-radius: 0;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  padding: 17px 30px 15px;
  vertical-align: middle;
  text-align: center;
  display: inline;
  border-right: 1px solid #ffffff;
}
.imitation-btn i {
  font-size: 2.4em;
  vertical-align: middle;
  margin-right: 7px;
  margin-bottom: 5px;
}
.icon {
  display: block;
  height: 2em;
}
