{% extends "base.html.twig" %}
{% block body %}
      <div class="container">
                <div class="row row-space shadow bg">
                    
                    <div class="col-lg-12 logo-type">
                      {% for message in app.flashes('success') %}
                            <div class="alert alert-success alert-dismissible fade show shadow" role="alert" style="position:absolute; width:40%; z-index:2; right:15px; top:20px; border-radius:0;">
                                    <strong><i class="far fa-check-circle"></i></strong> {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                       {% endfor %}
                        <img src="images/logo.svg">
                    </div>
                    <div class="col-lg-12">
                        <section class="nav-bar">      
                           <ul class="second-nav">
                               <li data-toggle="tooltip" data-placement="top" title="FAQ"><i class="far fa-question-circle"></i></li>
                               <li data-toggle="tooltip" data-placement="top" title="Wyloguj"><a href="{{ path('logout') }}"><i class="fas fa-sign-in-alt"></i></a></li>
                           </ul> 
                             <p class="text-right">Jesteś zalogowany jako <b>{{ user.username }}</b><p>
                        </section>
                    </div>   
                           
                    <div class="col-lg-12" id="content-sort">
                            <div class="row border-content">
                                <section class="upload-content upload-content__bg_color  border-content-right">
                                    <div class="upload-content-title">DODAJ KLIENTA</div>
           
                                </section>
                                <section class="file-list file-list__border file-list__bg_color">
                                    <div class="file-list-title">LISTA KLIENTÓW</div>

                                </section>             
                                <section class="upload-content border-content-right">
                                 {% form_theme form _self %}
                                    {% block form_errors %}
                                        {% spaceless %}
                                            {% if errors is defined and errors|length > 0 %}
                                              <div class="alert alert-danger shadow" role="alert" style="border-radius:0;">
                                                {% for error in errors %}
                                                    <i class="far fa-times-circle"></i> {{ error.message }}
                                                {% endfor %}
                                              </div>
                                            {% endif %}
                                        {% endspaceless %}
                                    {% endblock form_errors %}
                                
                                    {{ form_start(form, {'attr':{'id': 'customer'}}) }}
                                        {%if form_errors(form.username)%}
                                                {{form_errors(form.username)}}
                                        {% endif %}
                                        {% if form_errors(form.email)%}
                                            {{ form_errors(form.email) }}
                                        {% endif %}
                                        <div class="form-group">
                                            {{ form_label(form.username)}}
                                            {{ form_widget(form.username, {'attr':{'class':'form-control'}} )}}
                                        </div>
                                        <div class="form-group">
                                             {{ form_label(form.email)}}
                                            {{ form_widget(form.email, {'attr':{'class':'form-control'}} )}}
                                        </div> 
                                            <div class="form-group d-none">
                                            {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control'}} )}}
                                        </div>
                                            <div class="form-group d-none">
                                            {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control'}} )}}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.roles)}}
                                        </div>
                                        <div class="login-button">
                                            <button type="submit" class="btn btn-default">DODAJ KLIENTA</button>                                        
                                        </div>

                                    {{ form_end(form) }}
                                       
                                 </section>                       
                                <section class="file-list file-list__padding oveflow">
                                        {% for customer in customers %}
                                         <div class="icon shadow-sm p-2 mb-2 bg-white rounded">
                                            <i class="fas fa-user-tie"> 
                                            <span class="icon-name">{{ customer.username}}</span>
                                            </i>    
                                          <a href="{{ path('admin_manager', {'slug': customer.username}) }}" class="float-right">     
                                              <button type="submit" class="btn btn-default">PLIKI</button> 
                                          </a>
                    {#                        <button type="button" class="btn btn-default float-right">AKTYWNY</button>#}
                                        </div>
                                       {% endfor %}
                                </section>
                            </div>                
                        </div>
                                <footer>Files Transfer Service &copy; 2018 <a href="http://iten.com.pl/">IT Enginnering</a></footer>
                </div>
    </div>
{% endblock %}