{% extends "base.html.twig" %}
{% block body %}
      <div class="container">
                <div class="row row-space shadow bg">
                    
                    <div class="col-lg-12 logo-type">
                        <img src="{{ asset('images/logo.svg') }}">
                    </div>
                    <div class="col-lg-12">
                    <section class="nav-bar">
                                   
                       <ul class="second-nav">
                           
                           <li data-toggle="tooltip" data-placement="top" title="FAQ"><i class="far fa-question-circle"></i></li>
                           <li data-toggle="tooltip" data-placement="top" title="Wyloguj"><a href="{{ path('logout') }}"><i class="fas fa-sign-in-alt"></i></a></li>
                       </ul> 
                         <p class="text-right">Jesteś zalogowany jako <b>{{ user.username }}</b><p>
                    </section>
                    </div>   
                           
                    <div class="col-lg-12" id="content-sort">
                            <div class="row border-content">
                                <section class="file-list file-list__border file-list__bg_color col-lg-12">
                                    <div class="file-list-title">Pliki użytkownika <b>{{ userDir.username }}</b></div>
    
                                </section>             
                              <section class="file-list file-list__padding oveflow col-lg-12">
                            <form id="downloadCenter" action="{{ path('download')}}"  method="POST">
                              {% if userFilesInDirectory is defined %}
                                   {% for file in userFilesInDirectory %}
                                    <div class="icon shadow-sm p-2 mb-2 bg-white rounded col-lg-5">
                                            <input type="hidden" value="{{userDir.username}}" name="userDir">
                                            <input type="checkbox" value="{{ file.filename }}" id="{{ file.filename }}" name="archives[]">
                                            <label for="{{ file.filename }}">{{ file.filename }}</label> 
                                            <small class="form-text text-muted space">[{{file.size|round(1, 'floor')/1000~ "KB"}} ] [  {{file.aTime|date("m/d/Y")}} ] [ {{file.extension}} ]</small>
                                   </div>
                                    {% endfor %}                                                   
                                {% endif %} 
                                    {% if userFilesInDirectory is empty %}  
                                    <p class="empty">BRAK PLIKÓW W KATALOGU</p>
                                    {% endif %}
                                </section>
                                <button type="submit" name="pobierz" class="btn btn-default">POBIERZ</button>
                              </form>
                            </div>                
                        </div>
                     <footer>Files Transfer Service &copy; 2018 <a href="http://iten.com.pl/">IT Enginnering</a></footer>
                </div>
    </div>
{% endblock %}