.row-space{
    margin:7% auto;

}
.btn-upload{
    display: inline;
    text-align: center;

}
.logo-type{
    img{
        display: block;
        max-width: 32%;
        padding: 40px 0 0 15px;
        margin-bottom:-25px;
    
    }
    p{
        font-size: 1em;
        padding-bottom:40px;
        margin-top:0;
    }
}
section{
    &.nav-bar{
        margin-top: 5px;
        line-height:2em;
        &> ul{
            display: inline-block;
            line-height: 2em;
                &.second-nav{
                float:right;
                }
           &> li{
            color: #005587;
            &:hover, &:focus{
                color: #1676ad;
             }
               a{
                color: #005587;
             &:hover, &:focus{
                color: #1676ad;
             }
               }
            list-style: none;
                display: inline-block;
                padding:4px;

                i{
                    font-size: 1.6em;
                    cursor: pointer;

                }
            }
        }
    }
}
.empty{
    text-align: center;
    margin-top:20%;
    color:#e8ebef;
    font-size: 2em;
}
.bg{
    background: #fff;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }

  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 13px 13px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .content-file-list{
      min-height: 400px;
      overflow: hidden;
  }
  section{
      &.file-list{
          width:60%;
          margin:0;
        & #downloadCenter button{
            position: absolute;
            left:0;
        }
        & #downloadCenter input[type="checkbox"] {
            display: none!important;
        }
        & #downloadCenter input[type="checkbox"] + label::before {
            content: '';
            display: inline-block;
            vertical-align: bottom;
            width: 1.2em;
            height: 1.2em;
            border: solid #005587 3px;
            background-color: #fff;
            margin-right: 1em;
            margin-top:0.8em;
            cursor: pointer;
            transition: 0.3s;
            margin-left: 0.1em;
        }
        & #downloadCenter input[type="checkbox"] + label {
            display: block;
            margin-bottom: 0.5em;
            font-size: 1.2em;
            font-family: 'Open Sans';
            font-weight: 400;
            text-transform: none;
            cursor: pointer;
            transition: 0.3s;
            margin-left: 0.8em;
        }
       & #downloadCenter input[type="checkbox"]:checked + label::before {
            background-color: #005587;
        
        }

        & small.space{
            padding-left:60px;
            margin-top:-10px;
        }


          &__padding{
                padding:15px 15px 0 15px;
          }
          &__bg_color{
                background-color:#005587; 
          }
          .file-list-title{
              display: inline-block;
              width: auto;
              color:#fff;
              margin-top:7px;
              padding:15px;
          }
                    
        & .upload-bar{
              position:absolute;
              z-index:5;
          }
          & ul{

                  &.sort{
                    padding:15px;
                    display: inline-block;
                    margin:0;
                    float: right;
                        & ._active{
                            color: #fff;
                            background-color:#1676ad;
                        }
                        & li{
                            
                            display: inline-block;
                            margin:0;
                            list-style: none;
                            padding:5px;
                            cursor: pointer;

                        & i{
                            padding:0;
                            color:#fff;
                            margin:0;
                            }
                            &:hover,&:focus{
                            color: #fff;
                            background-color:#1676ad; 
                            }
                        }
                }
            }
      }
      &.upload-content{
          width:40%;
          color:#fff;
          margin:0;
          padding:0;
          &__bg_color{
                background-color:#005587; 
          }
        .upload-content-title{
              width: auto;
              color:#fff;
              margin:0;
              padding:15px;
              margin-top:7px;
          }
          .upload-content-upload-btn{
               color:#1676ad;
               padding:15px 50px;
               width:100%;
           
               & form {     
                    label{
                         padding: 40px 8px 0;
                         cursor: pointer;
                         width:100%;
                         border:1px transparent dashed;
                         &:hover{
                             border:1px #1676ad dashed;
                         }
                     }
                     button{
                         width:100%;
                         margin:0 auto;
                         line-height: 48px;
                         background-color: #005587;
                         color:#FFF;
                         border:0;
                         &:hover{
                         background-color: #1676ad;
                         color:#FFF;
                         cursor: pointer;

                        &.disabled{
                            background-color:#032b47;
                            color:#666666;
                            opacity: 0.9;
                            cursor:auto;
                        }
                         }
                         
                     }
                     p{
                         padding-top: 10px;

                     }
                       .info{
                             line-height: 0.1;
                             color:#999;
                             font-size:10px;
                             padding:0;
                         }
                }
              .icon-update{
                background: url("../images/upload.png");
                background-repeat: no-repeat;
                width:64px;
                height: 64px;
                line-height: 200px;
                display: block;
                margin:0 auto;
                padding: 20px;
          
              }
  
          }
                 & .update-info{
                    text-align: center;
                    display: block;
                    font-size:11px;
                    color:#999;
                    padding:15px;
                  }


                  #customer{
                    padding:20px 30px 60px;
                    width: 100%;
                    label{
                        display: inline;
                        color:#333;
                    }
                    .form-control {
                        box-shadow: none;
                        outline: 0;
                        border-radius:0;
                        color: #565656;
                        font-size:14px;
                        padding:15px 10px;
                        border: 1px solid #f2f2f2;
                        background: #f2f2f2;
                        display: inline;
                    }
                    .btn{
                        width: 100%;
                
                    }

                    & #user_roles{
                        label{
                            padding:0 10px 0 5px;

                        }
                    }
                }
      }
  .icon {
      width:100%;
      transition: 3s;
      padding:0;
      margin:0;
      padding: 3px;
      height: auto;
      display: inline-block;
      & img{
          display: inline-block;
          position: relative;
      }
    
    i{
        color:#333;
        margin:0 auto;
        padding: 0;
        font-size:2.6em;
        height: auto;
        span{
            font-family: 'Roboto', sans-serif;
            color:#333;
            font-size: 0.28em;
            margin-top:-5px;
            vertical-align: middle;
            line-height: 3em;
            font-weight: normal;
            white-space: nowrap;
            text-overflow: ellipsis;

        }
    
    }

  }

}


  .border-content{
    border: 1px solid #e8ebef;
    &-right{
        border-right:1px solid #e8ebef;
    }
  }
  .btn{ 
    background: #005587;
    border: none;
    border-radius: 0;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    padding: 17px 30px 15px;
    text-transform: uppercase;
    vertical-align: middle;
    display: inline;
    i{
        font-size:2.4em;
        vertical-align: middle;
        margin-right:7px;
        margin-bottom:5px;
    }
    &:nth-child(1) {
        border-right:1px solid #ffffff;
      }
    &:nth-child(2) {
        border-right:1px solid #ffffff;
      }

}

.btn:hover{
    background:#033e60;
    color:#fff;
}
footer{
    color:#005587;
    text-align: center;
    padding:25px 0;
    width: 100%;
    a{
        text-decoration: none;
        color:#005587;
        &:hover{
            text-decoration: none;
            color:#005587; 
        }

    }
}
.btn-element{ 
    background: transparent;
    border:0;
    border-radius: 0;
    color: #666666;
    font-size: 12px;
    font-weight: 600;
    padding: 7px;
    text-transform: uppercase;
    vertical-align: middle;
    display: inline;
    cursor: pointer;
    outline: none;
        &:hover,&:focus{
            color: #fff;
            background-color:#005587; 
            outline: none;
        }
}

.content-nav{
    width: 100%;
    padding-bottom:40px;
    line-height:48px;
    ul{
        margin:0 auto;
        width: 40%;
        li{
            padding:10px;
            i{
                font-size:40px;
            }
        }
    }
}
.oveflow{
    overflow: auto;
    height: 400px;

}

.imitation-btn{
    background: #005587;
    border-radius: 0;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    padding: 17px 30px 15px;
    vertical-align: middle;
    text-align: center;
    display: inline;
    border-right:1px solid #ffffff;


    i{
        font-size:2.4em;
        vertical-align: middle;
        margin-right:7px;
        margin-bottom:5px;
        
    }




  }