<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; line-height: normal;">

<p>Witamy serdecznie wśród naszych klientów. Wraz z podjęciem współpracy z Państwem został utworzony login i hasło do naszego systemu ftp, dzięki któremu mogą państwo przesłać materiały dotyczące Państwa projektu realizowanego przez naszą firmę. 
</br>Aby zalogować się prosimy kliknąć w poniższy link lub skopiować do paska przeglądarki i użyć danych logowania otrzymanych w tym emailu.</p>
<p><b>LINK:</b> <a href="http://filetransferservice.iten.com.pl">filetransferservice.iten.com.pl</a></p>

    <p>
        Login: <b>{{ customerLogin }}</b><br>
        Hasło: <b>{{ customerPasswd }}</b>
    </p>


<div style="width: 100%;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; line-height: normal;">
<div style="font-size: 15px;line-height: 1.7em;"><i>Pozdrawiam,</i></div>

<div style="width:auto;line-height:1em;font-size: 20px;">
    <p>-------------------------------------</p>
    <b>Support IT Engineering</b></div>
<div style="line-height: 1.4em;">e-mail:<a href="mailto:support@iten.com.pl.com"> support@iten.com.pl.com </a></div>
<div style="margin: 0;padding: 20px 7px;"><img src="http://iten.com.pl/wp-content/uploads/2018/04/logo.png" alt="Logo IT Enginnering" /></div>
<div style="line-height: 1.5em"><b>IT Engineering</b> Sławomir Gibas</div>

<!-- biuro handlowe -->
<div style="line-height: 1.4em;margin: 0;padding-top: 10px;font-size: 15.5px;font-weight: 600;"><u>Biuro handlowe:</u></div>
<div style="line-height: 1.1em">ul. Juliusza Słowackiego 2/34, 41-800 Zabrze</div>
<div style="line-height: 1.1em">tel. <b>32 271 32 78</b>, tel. <b>690 274 828</b></div>
<div style="line-height: 1.1em">e-mail:<a href="mailto:info@iten.com.pl">info@iten.com.pl</a></div>

<!-- dane rejestrowe -->
<div style="padding-top:19px;font-size: 15.5px;font-weight: 600; "><u><b>Dane rejestrowe:</b></u></div>
<div style="line-height: 1.1em;">ul. prof. Tadeusza Banachiewicza 8/9, 41-818 Zabrze</div>
<div style="line-height: 1.1em;"><b>NIP:</b> 6332005947, <b>REGON:</b> 242801037</div>

<!-- URL -->
<div style="color: #015281;padding: 19px 0 17px"><a href="http://www.iten.com.pl/" style="font-weight: 600;">http://www.iten.com.pl/</a></div>

<!-- footer content -->
<div style="color: #FF0000;font-size: 11px">WAŻNE - INFORMACJA O POUFNOŚCI</div>
<div style="color: rgb(5, 146, 5);font-size: 10px;padding-bottom: 10px">Informacje i załączniki zawarte w tym e-mailu przeznaczone są wyłącznie dla adresata. 
Mogą zawierać chronione prawnie, poufne informacje. W przypadku gdy nie jest Pan/Pani adresatem lub osobą upoważnioną 
do odbioru niniejszego e-maila, nie należy używać, powielać bądź przesyłać informacji i załączników w nim zawartych. W przypadku omyłkowego 
otrzymania e-maila należy niezwłocznie poinformować o tym nadawcę i usunąć e-mail.
Wiadomość została wygenerowana automatycznie proszę na nią nie odpisywać.</div>
<div style="color: rgb(23, 93, 199);font-size: 10px">This e-mail message and any attachment are intended exclusively for the named addressee. 
They may contain confidential information which may also protected by professional secrecy. 
Unless you are the named addressee (or authorized to receive for the addressee) you may not copy or use this message or any attachment or 
disclose the contents to anyone else. If this e-mail was sent to you by mistake please notify the sender immediately and delete this e-mail,
The message has been generated automatically, please do not reply to it.</div>
</div>



</body>
</html>
